# Ignore everything, unless explicitly included
*
*/

!.gitignore
!LICENSE
!README.md

!automations.yaml
!binary_sensors.yaml
!configuration.yaml
!customize.yaml
!fans.yaml
!groups.yaml
!homekit.yaml
!lights.yaml
!scenes.yaml
!scripts.yaml
!sensors.yaml
!templates.yaml
!ui-lovelace.yaml
!zha.yaml
!zwave.yaml

# !blueprints
# blueprints/*
# !blueprints/automation
# blueprints/automation/*
# !blueprints/automation/jlaska
# blueprints/automation/jlaska/*
# !blueprints/automation/jlaska/*.yaml

!lovelace
lovelace/*

!lovelace/views
lovelace/views/*
!lovelace/views/*.yaml

!lovelace/button_card_templates
lovelace/button_card_templates/*
!lovelace/button_card_templates/*.yaml
